*{
    padding: 0;
    margin: auto;
}
.container{
    margin-top: 100px;
    width: 500px;
    height: 400px;
    background: #fff;
    border-radius: 20px;
}
 .container form{
    width:100%;
    padding-left: 25px;
} 
.container form input{
    width: 85%;
    padding:15px 10px;
    outline: none;
    margin: 10px 0;
}
.btn{
    width: 350px;
    height: 50px;
    margin-left: 75px;
    cursor: pointer; 
    background: rgb(255, 0, 221);
    border: none;
    color: #fff;
    border-radius: 20px;
}
h1{
    display: block;
    text-align: center;
    padding-top: 20px;
}

.butons {

    margin-left: auto;
    width: 240px;
}
